@model WebDatVeMayBay.Models.MayBay

@{
    ViewBag.Title = "Thông tin chi tiết Máy Bay";
}

<h2 class="mb-5">Quản lý máy bay / Chi tiết máy bay</h2>

<div class="container mt-4">
    <h4 class="text-center">Chi tiết máy bay</h4>
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
            <table class="table table-bordered">
                <tr>
                    <th>Mã Máy Bay</th>
                    <td>@Model.MaMayBay</td>
                </tr>
                <tr>
                    <th>Mã Ghế</th>
                    <td>@Model.MaGhe</td>
                </tr>
                <tr>
                    <th>Tên Máy Bay</th>
                    <td>@Model.TenMayBay</td>
                </tr>
            </table>

            <div class="text-center">
                <a href="@Url.Action("Index", "MayBay")" class="btn btn-primary">Quay lại</a>
            </div>
        </div>
    </div>
</div>
