<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link href="~/CSS/stylesUser.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="nav__logo">Flivan</div>
        <ul class="nav__links">
            <li class="link"><a href="#">Trang chủ</a></li>
            <li class="link"><a href="#">Giới thiệu</a></li>
            <li class="link"><a href="#">Ưu đãi</a></li>
            <li class="link"><a href="#">Hạng ghế</a></li>
            <li class="link"><a href="#">Điểm đến</a></li>
        </ul>
        <div class="button-group">
            <button class="btn btn-sign-up">Đăng ký</button>
            <button class="btn btn-sign-in">Đăng nhập</button>
        </div>
    </nav>
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>Flivan</h3>
                <p>
                    Nơi đẳng cấp cất cánh. Với cam kết mạnh mẽ về sự hài lòng của khách hàng và niềm đam mê hàng không, Flivan Airlines mang đến dịch vụ xuất sắc và hành trình trọn vẹn.
                </p>
                <p>
                    Từ những nụ cười thân thiện đến các máy bay hiện đại, chúng tôi kết nối thế giới, đảm bảo những trải nghiệm an toàn, thoải mái và khó quên.
                </p>
            </div>
            <div class="footer__col">
                <h4>THÔNG TIN</h4>
                <p>Trang chủ</p>
                <p>Giới thiệu</p>
                <p>Ưu đãi</p>
                <p>Hạng ghế</p>
                <p>Điểm đến</p>
            </div>
            <div class="footer__col">
                <h4>LIÊN HỆ</h4>
                <p>Hỗ trợ</p>
                <p>Truyền thông</p>
                <p>Mạng xã hội</p>
            </div>
        </div>
        <div class="section__container footer__bar">
            <p>Bản quyền © 2023 Web Design Mastery. Bảo lưu mọi quyền.</p>
            <div class="socials">
                <span><i class="ri-facebook-fill"></i></span>
                <span><i class="ri-twitter-fill"></i></span>
                <span><i class="ri-instagram-line"></i></span>
                <span><i class="ri-youtube-fill"></i></span>
            </div>
        </div>
    </footer>
    <script src="~/JS/scripts.js"></script>
</body>
</html>
