@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/CSS/infoTraverler.css" />
<div class="traveler">
    <div class="traveler-header">
        <h1>Nhập thông tin hành khách</h1>
    </div>

    <div class="traveler-warn">
        <p>Lưu ý: * Trường bắt buộc nhập thông tin</p>
        <p>
            Quý Khách vui lòng sử dụng tiếng Việt không dấu và không sử dụng các ký tự đặc biệt,
            nhập đầy đủ tên hành khách và những thông tin khác xuất hiện trên (các) giấy tờ tùy thân do chính phủ cấp.
        </p>
        <p>Nếu Tên đầy đủ của Quý khách lớn hơn 41 ký tự, vui lòng viết tắt tên đệm.</p>
        <p>Ví dụ Tên đầy đủ của hành khách là: NGUYEN VUONG TRAN THI KIM NGUYET ANH DUONG MAI, Quý khách viết tắt như sau:</p>
        <p>
            Đệm và tên: V T T K N A DUONG MAI
        </p>
        <p>Họ: NGUYEN</p>
    </div>

    <div class="traveler-form">
        <div class="form-adult">
            <h1>NGƯỜI LỚN</h1>
            <form class="form">
                <div class="group-input">
                    <div class="gender">
                        <label for="danhxung">Danh xưng*</label>
                        <select id="danhxung" name="danhxung">
                            <option value="ong">Ông</option>
                            <option value="ba">Bà</option>
                            <option value="co/chi">Cô/chị</option>
                        </select>
                    </div>

                </div>
                <div class="group-input">
                    <label for="lname">Tên đệm và tên (như trong CCCD/hộ chiếu)*</label>
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>

                <div class="group-input">
                    <label for="fname">Họ (như trong CCCD/hộ chiếu)*</label>
                    <input type="text" id="fname" name="firstname" placeholder="">
                </div>

                <div class="group-input">
                    <label for="datetime">Ngày sinh*</label>
                    <input type="date" id="fname" name="firstname" placeholder="">
                </div>
            </form>
        </div>
    </div>
    <div class="traveler-form">
        <div class="form-child">
            <h1>TRẺ EM</h1>
            <form class="form">
                <div class="group-input">
                    <div class="gender">
                        <label for="danhxung">Danh xưng*</label>
                        <select id="danhxung" name="danhxung">
                            <option value="nam">Nam</option>
                            <option value="nu">Nữ</option>
                        </select>
                    </div>

                </div>
                <div class="group-input">
                    <label for="lname">Tên đệm và tên (như trong CCCD/hộ chiếu)*</label>
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>

                <div class="group-input">
                    <label for="fname">Họ (như trong CCCD/hộ chiếu)*</label>
                    <input type="text" id="fname" name="firstname" placeholder="">
                </div>

                <div class="group-input">
                    <label for="datetime">Ngày sinh*</label>
                    <input type="date" id="fname" name="firstname" placeholder="">
                </div>
            </form>
        </div>
    </div>

    <div class="traveler-form-info">
        <div class="form-info-contact">
            <h1>Thông tin liên lạc</h1>
            <form class="form">
                <label class="form-header">Thông tin liên lạc này được sử dụng để xử lý và lưu đặt chỗ này.</label>
                
                <div class="group-input">
                    <label for="email">Địa chỉ email bắt buộc*</label>
                    <input type="email" id="email" name="email" placeholder="">
                </div>
                <div class="group-input">
                    <div class="phone-type">
                        <label for="phone-type">Loại điện thoại*</label>
                        <select id="phone-type" name="phone-type">
                            <option value="single">Cá nhân</option>
                            <option value="business">Doanh nghiệp</option>
                        </select>
                    </div>
                </div>

                <div class="group-input">
                    <label for="phone-number">Số điện thoại*</label>
                    <input type="text" id="phone-number" name="phone-number" placeholder="">
                </div>
            </form>
        </div>
    </div>

    <div class="traveler-form-check">
        <div class="group-input">
            <input type="checkbox" id="privacy" name="privacy" value="privacy">
            <label for="privacy">
                Dữ liệu cá nhân của Quý khách thu thập trên trang này được xử lý
                và lưu trữ bởi Vietnam Airlines cho mục đích và theo điều kiện đã được công bố tại Chính sách bảo mật thông tin của Vietnam Airlines.
            </label>
        </div>
    </div>
    <button class="btn-submit">Xác nhận</button>
</div>
