@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/CSS/infoTraverler.css" />
<div class="traveler">
    <div class="traveler-header">
        <h1>Nhập thông tin hành khách</h1>
    </div>

    <div class="traveler-warn">
        <p>Lưu ý: * Trường bắt buộc nhập thông tin</p>
        <p>
            Quý Khách vui lòng sử dụng tiếng Việt không dấu và không sử dụng các ký tự đặc biệt,
            nhập đầy đủ tên hành khách và những thông tin khác xuất hiện trên (các) giấy tờ tùy thân do chính phủ cấp.
        </p>
        <p>Nếu Tên đầy đủ của Quý khách lớn hơn 41 ký tự, vui lòng viết tắt tên đệm.</p>
        <p>Ví dụ Tên đầy đủ của hành khách là: NGUYEN VUONG TRAN THI KIM NGUYET ANH DUONG MAI, Quý khách viết tắt như sau:</p>
        <p>
            Đệm và tên: V T T K N A DUONG MAI
        </p>
        <p>Họ: NGUYEN</p>
    </div>

    <div class="container">
        <!-- Title section -->
        <div class="title">Người lớn</div>
        <div class="content-info">
            <form action="@Url.Action("SaveTraveler", "Home")" method="post">
                <div class="user-details">
                    <div class="gender-details">
                        <input type="radio" name="gender" id="dot-1">
                        <input type="radio" name="gender" id="dot-2">
                        <input type="radio" name="gender" id="dot-3">
                        <span class="gender-title">Danh xưng</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Ông</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Bà</span>
                            </label>
                            <label for="dot-3">
                                <span class="dot three"></span>
                                <span class="gender">Cô/Chị</span>
                            </label>
                        </div>
                    </div>
                    <!-- Input for Full Name -->
                    <div class="input-box">
                        <span class="details">Họ và tên (như trong CCCD/hộ chiếu)</span>
                        <input type="text" placeholder="" required>
                    </div>
                    <!-- Input for Birth -->
                    <div class="input-box">
                        <span class="details">Ngày sinh</span>
                        <input type="date" placeholder="" required>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <!-- Title section -->
        <div class="title">Trẻ em</div>
        <div class="content-info">
            <form action="@Url.Action("SaveTraveler", "Home")" method="post">
                <div class="user-details">
                    <div class="gender-details">
                        <input type="radio" name="gender" id="dot-1">
                        <input type="radio" name="gender" id="dot-2">
                        <span class="gender-title">Danh xưng</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Nam</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Nữ</span>
                            </label>
                        </div>
                    </div>
                    <!-- Input for Full Name -->
                    <div class="input-box">
                        <span class="details">Họ và tên (như trong CCCD/hộ chiếu)</span>
                        <input type="text" placeholder="" required>
                    </div>
                    <!-- Input for Birth -->
                    <div class="input-box">
                        <span class="details">Ngày sinh</span>
                        <input type="date" placeholder="" required>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <!-- Title section -->
        <div class="title">Thông tin liên lạc</div>
        <div class="content-info">
            <form action="@Url.Action("SaveTraveler", "Home")" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Địa chỉ email bắt buộc</span>
                        <input type="email" placeholder="" required>
                    </div>
                    <div class="gender-details">
                        <input type="radio" name="gender" id="dot-1">
                        <input type="radio" name="gender" id="dot-2">
                        <span class="gender-title">Loại điện thoại</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Cá nhân</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Doanh nghiệp</span>
                            </label>
                        </div>
                    </div>
                    <div class="group-input">
                        <!-- Input for Full Name -->
                        <div class="input-box">
                            <span class="details">Mã quốc gia</span>
                            <input type="text" placeholder="" required>
                        </div>
                        <!-- Input for Birth -->
                        <div class="input-box">
                            <span class="details">Số điện thoại</span>
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Checkbox Privacy -->
    <div class="container">
        <div class="group-input">
            <input type="checkbox" id="privacy" name="privacy" value="privacy" required class="checkbox-privacy" />
            <label for="privacy" class="privacy">
                Dữ liệu cá nhân của Quý khách thu thập trên trang này được xử lý
                và lưu trữ bởi Vietnam Airlines cho mục đích và theo điều kiện đã được công bố tại Chính sách bảo mật thông tin của Vietnam Airlines.
            </label>
        </div>
        <div class="group-input">
            <input type="checkbox" id="privacy" name="privacy" value="privacy" required class="checkbox-privac" y />
            <label for="privacy" class="privacy">
                Tôi đồng ý nhận các thông tin quảng cáo, tiếp thị qua email được nêu chi tiết trong Chính sách bảo mật (như thông báo, bản tin, khuyến mãi,
                các ưu đãi khác liên quan đến sản phẩm và dịch vụ của Vietnam Airlines và các đối tác của Vietnam Airlines). Dự kiến tần suất nhận khoảng 02 email/tuần.
            </label>
        </div>
    </div>
    <button type="submit" class="btn-submit">Xác nhận</button>
</div>
